:root{
    --cor-prin: red;
    --color1-clara1: #a9b0ff;
    --color2-clara2: #8791dd;
    --color3-meiotermo: #6473bb;
    --color4-esura2: #425498;
    --color5-escura1: #3e4b8c;
    --color-muitoClara:#ebecfb;

}
