:root{
    --cor-prin: red;
}
.vasco{
    width: 100%;
}

body {
    text-align: center;
    
}

.btn{
   background-color: brown;
   width: 200px;
   height: 50px;
   font-size: large;
   color: white;
}

.btn:hover {
    background-color: rgb(255, 27, 27);
}

.cor-btn-azul{
    --cor-prin: darkblue;
    background-color: var(--cor-prin);
}

.cor-btn-azul:hover {
    background-color: rgb(49, 49, 255);
}
.cor-btn-verde{
    --cor-prin: green;
    background-color: var(--cor-prin);
}

.cor-btn-verde:hover {
    background-color: rgb(46, 255, 46);
}

