@import url(style.css);
@import url(base.css);
@import url(atributos/botao.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    border: 2px solid red;
    margin: 8px;
    gap: 8px;
    display: grid;
    /* grid-template-columns:  100px 100px 100px; */
    /* grid-template-columns: 2fr 1fr 1fr; */
    /* grid-template-columns: minmax(0, 1fr) minmax(400px, 1fr); */
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    /* grid-template-rows: auto 200px; */
    /* grid-auto-rows: 200px; */

    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}



.item{
    background-color: aqua;
}



.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
}

/* CSS PRIMEIRA DIV */
    
.div1 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    padding: 20px;
    
}

.div1_int{
    display: flex;
    justify-content: space-evenly;
    align-content: flex-end;
    flex-direction: row;
    /* background: linear-gradient(45deg, var(--color1-clara1), var(--color7-muitoescura)); */
    padding: 15px;
    font-size: 65px;
    border-radius: 10px;
    box-shadow: var(--boxshadow);
    color: var(--color5-escura1);
    text-align: center;

    
}
.icon-text{
    padding: 30px;
}

.icon-text p{
    font-size: 15px;
    text-align: center;
}

.icon-text:hover{
    background-color: var(--color6-muitoClara);
    padding: 30px;
    color: var(--color7-muitoescura);
    border-radius: 10px;
}

/* CSS PRIMEIRA DIV */


.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 4;
    padding: 20px;
    box-shadow: var(--boxshadow);
    border-radius: 10px;
    margin: 20px;
    
}



.div2 h4{
    font-size: 30px;
    margin-bottom: 20px;
    color: var(--color7-muitoescura);
}
.text_velorio {
    /* border: 1px solid red; */
    padding: 20px;
    border-radius: 10px 10px 0 0;
    font-size: 20px;
    background-color: var(--color7-muitoescura);
    color: var(--color6-muitoClara);
    
    
    
}

.box_text{
    border: 1px solid var(--color6-muitoClara);
    padding-bottom: 20px;
}
.text_loc_data{
    margin-top: 20px;
    
}

.velorio-div2{
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.velorio-div2 i{
    color: var(--color7-muitoescura);
    margin-right: 10px;
    margin-top: 5px;
    margin-left: 20px;
    
}












.div3 {
    grid-column: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 5;
}

.div4 {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 3;
}
 
@media screen and (max-width: 920px) {
    .parent {
    display: grid;
    grid-template-columns: 1fr; /* apenas 1 coluna */
    grid-auto-rows: 700px;      /* altura fixa para cada linha */
    gap: 8px;                   /* espaçamento entre as divs */
}

    .div1, .div2, .div3, .div4 {
        grid-column: 1 / 2;  /* cada div ocupa toda a coluna */
        grid-row: auto;      /* ocupa uma linha do grid */
}
    .div1_int{
        font-size: 45px;
        flex-wrap: wrap;
    }
}