@import url('https://fonts.googleapis.com/css2?family=Delius&family=Oswald:wght@200..700&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap");

:root{
    --color1-clara1: #a9b0ff;
    --color2-clara2: #8791dd;
    --color3-meiotermo: #6473bb;
    --color4-escura2: #425498;
    --color5-escura1: #3e4b8c;
    --color6-muitoClara:#ebecfb;
    --color7-muitoescura: #001972;

    /* Fonte padão */
    --primary-font: "Oswald", sans-serif;
    --secondary-font: "Roboto Slab", Arial;
}

body{
    background-color: var(--color-muitoClara);
    font-family: var(--font-text);
}

.botao{
    display: inline;
    font-family: var(--secondary-font);
    text-transform: uppercase;
}

.botao a{
    display: inline-block;
    background-color: var(--color7-muitoescura);
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
  
}

.botao:hover a{
    color: var(--color6-muitoClara);
    background: linear-gradient(45deg, var(--color1-clara1), var(--color7-muitoescura));
    box-shadow: 0 0 3px 1px var(--color1-clara1);
}
